.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 200px;
  margin-left: -900px;
}

.table-flex-container {
  display: flex;
  justify-content: space-between;
}

/* Ajuste para hacer más corta la tabla de identificación de peligros */
.identification-table {
  flex: 1.5; /* Reducido el valor flex para ocupar menos espacio */
  margin: 10px 5px;
}

.evaluation-table table {
  width: 100%; /* Ajusta el ancho de la tabla al contenedor */
  border-collapse: collapse; /* Opcional: para un diseño más limpio */
}

.evaluation-table table th,
.evaluation-table table td {
  word-wrap: break-word; /* Asegura que el texto se ajuste al tamaño de la celda */
  text-align: center; /* Opcional: centra el contenido */
  padding: 8px; /* Opcional: agrega un poco de espacio dentro de las celdas */
}

.evaluation-table {
  overflow-x: auto; /* Permite que la tabla tenga un scroll horizontal si se desborda */
}

.additional-table img {
  max-width: 100px; /* Asegúrate de que las imágenes no excedan el ancho */
  height: auto; /* Mantén la relación de aspecto */
  margin: 5px; /* Opcional: agrega un margen entre imágenes */
}

textarea {
  width: 100%; /* Ajusta el ancho del textarea */
  box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño */
}
@media screen and (max-width: 768px) {
  /* Ajustes específicos para pantallas pequeñas */
  .evaluation-table table,
  .risk-classification table {
    font-size: 0.9rem; /* Reduce el tamaño del texto para adaptarlo mejor */
  }
}

.image-insert-table .selected-image {
  width: 100%;
  height: 100%;
  margin-top: 5px;
}

.risk-table,
.risk-classification {
  width: 100%;
  background-color: white;
}

/* Ajustar la letra que escribe el usuario */

.red {
  color: rgb(138, 136, 255) !important;
  color: rgb(255, 255, 255) !important;
}

.download-button,
.save-button {
  margin-top: 20px;
}

.button-container {
  margin-top: 20px;
}

/* Estilo para las imágenes del EPP en Información Adicional con tamaño reducido */
.additional-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  padding: 16px;
  border: 1px solid white;
  border-radius: 8px;
  background-color: white;
  margin: 0 auto;
}

.additional-table .selected-image {
  width: 80px; /* Tamaño ligeramente mayor */
  height: 70px;
  margin: 8px;
  object-fit: contain;
  border-radius: 8px;
  padding: 4px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-block;
}

.additional-info-table {
  width: 100%;
  max-width: 100px;
  height: 100px;
  min-height: 100px;
  padding: 0px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: white;

  display: block;
  box-sizing: border-box;
}

.triangle-images-container {
  display: flex;
  flex-wrap: wrap; /* Las imágenes pasan a la siguiente fila si no caben */
  justify-content: space-between; /* Espaciado uniforme entre imágenes */
  align-items: center; /* Centra las imágenes verticalmente */
  height: 210px; /* Alto fijo del cuadro */
  background-color: #ffffff;
  border: 1px solid #ffffff; /* Borde sutil para distinguir el cuadro */
}

/* Ajuste para las imágenes dentro del contenedor */
.triangle-images-container .selected-image {
  width: 180px; /* Tamaño fijo de las imágenes */
  height: 100px;
  background-color: white;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    margin-top 0.2s ease;
}

/* Hover para las imágenes */
.triangle-images-container .selected-image:hover {
  transform: scale(1.1); /* Efecto de zoom al pasar el ratón */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

.cancel-button {
  background-color: #527aff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.logo-left {
  width: 200px;
}

.header-title {
  flex: 1;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.logo-select {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.logo-right-container {
  position: relative;
  display: inline-block;
}

.logo-right {
  width: 150px;
}

.remove-logo-button {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: black;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.risk-table {
  width: 100%; /* Asegura que la tabla ocupe todo el ancho del contenedor */
  table-layout: fixed; /* Controla que las celdas se ajusten dentro del ancho fijo */
  border-collapse: collapse; /* Para que los bordes se vean limpios */
  border: 1px solid #ccc; /* Bordes visibles y alineados */
  margin: 0; /* Elimina cualquier margen adicional */
  padding: 0; /* Elimina cualquier padding adicional */
  box-sizing: border-box; /* Incluye bordes y padding en el ancho total */
}

.risk-table-container {
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  padding: 30px; /* Mantiene un espaciado uniforme */
  margin-top: 50px; /* Espaciado superior */
  background-color: #f9f9f9;
  box-sizing: border-box; /* Incluye padding en el ancho total */
}

.risk-table th,
.risk-table td {
  text-align: left; /* Alinea el texto en las celdas */
  padding: 12px; /* Espaciado uniforme en las celdas */
  font-size: 14px; /* Tamaño de fuente consistente */
  border: 1px solid #ddd; /* Bordes de las celdas */
}

.risk-table input,
.risk-table select,
.risk-table textarea {
  width: 100%; /* Los campos ocupan el ancho completo de las celdas */
  padding: 10px; /* Espaciado interno */
  font-size: 14px; /* Ajuste del tamaño de fuente */
  box-sizing: border-box; /* Incluye padding en el ancho total */
}

.selected-image {
  max-width: 100%; /* Asegura que no exceda el contenedor */
  max-height: 300px; /* Limita la altura si es necesario */
  display: block; /* Garantiza que sea visible */
  margin: 10px auto;
}

.warning {
  width: 100%; /* Asegura que la tabla ocupe el ancho del contenedor */
  table-layout: fixed; /* Distribuye el ancho de las columnas de manera uniforme */
  overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
}

.warning select {
  width: 100%; /* Ajusta el select al ancho de su celda */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.triangle-images-container {
  display: flex; /* Alinea las imágenes en fila */
  flex-wrap: wrap; /* Permite que las imágenes salten a la siguiente línea si es necesario */
  gap: 10px; /* Espaciado entre imágenes */
  justify-content: center; /* Centra las imágenes */
}

.selected-image {
  max-width: 100px; /* Ajusta el tamaño máximo de las imágenes */
  height: auto; /* Mantiene la proporción de las imágenes */
  cursor: pointer; /* Añade un indicador de clic para las imágenes */
}

.imagefilter {
  height: 0%;
}

/* Clase para aumentar la altura de las celdas */
.tall-cell {
  height: 100px; /* Ajusta la altura según lo necesites */
  vertical-align: middle; /* Centrar contenido verticalmente */
}

/* Clase para las filas con mayor altura */
.tall-row td {
  height: 100px; /* Aumenta la altura de toda la fila */
}

/* Clase adicional para estilos específicos */
.risk-score-cell {
  font-weight: bold; /* Negrita para destacar */
  color: white; /* Texto blanco para contraste */
  vertical-align: middle; /* Centrar contenido verticalmente */
}

/* Estilo para el select */
select {
  font-size: 18px; /* Ajusta el tamaño del texto del select */
  padding: 8px; /* Añade un poco de relleno */
  width: 100%; /* Ajusta el tamaño del select al 100% de su contenedor */
}

/* Estilo para las opciones dentro del select */
option {
  font-size: 18px !important; /* Ajusta el tamaño de las opciones dentro del select */
}
