:root {
  --strong-red: #808b96; /* Rojo más fuerte */
  --border-color: #ccc;
  --button-bg: #e60000;
  --button-text: #fff;
  --border-radius: 8px;
  --font-family: "Arial", sans-serif;
}

.risk-table-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 1600px; /* Ajusta el ancho máximo según sea necesario */
  width: 100%;
  margin: auto;
}

.risk-table {
  width: 100%;
  max-width: 1600px; /* Ajusta el ancho máximo según sea necesario */
  display: flex;
  flex-direction: column;
  font-size: 11px; /* Ajuste leve del tamaño de fuente */
  border-collapse: collapse;
  box-sizing: border-box; /* Asegura que padding y border no cambien el tamaño */
}

.risk-table th,
.risk-table td {
  border: 1px solid var(--border-color);
  padding: 12px; /* Aumentar ligeramente el padding */
  text-align: left;
}

.risk-table th.red {
  background-color: var(--strong-red);
  color: var(--button-text);
  font-weight: bold;
  text-transform: uppercase;
}

.risk-selects select,
.safety-selects select,
.epp-suggested select {
  width: 100%;
  padding: 12px; /* Incrementar ligeramente el padding */
  margin-top: 5px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  font-family: var(--font-family);
  font-size: 15px; /* Incrementar el tamaño de la fuente */
}

.epp-suggested .red {
  color: var(--strong-red);
  font-weight: bold;
}

.epp-images-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-top: 10px;
}

.epp-images-grid img {
  width: 60px;
  height: 60px;
  border-radius: var(--border-radius);
  padding: 2px;
  transition:
    transform 0.2s,
    border-color 0.2s;
}

.epp-images-grid img:hover {
  transform: scale(1.1);
  border-color: var(--button-hover-bg);
}

.body-part-image img {
  border: 2px solid var(--strong-red);
  border-radius: var(--border-radius);
}

h4.red {
  color: var(--strong-red);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.risk-classification {
  margin-top: 20px;
}

.risk-classification th {
  background-color: var(--strong-red);
  color: var(--button-text);
  padding: 10px;
  text-transform: uppercase;
}

.uploaded-image {
  border: 2px solid var(--strong-red);
  border-radius: var(--border-radius);
  margin-top: 10px;
  width: 100%; /* Ajustar imagen para que ocupe todo el ancho del contenedor */
  height: 100%; /* Hacer la imagen que ocupe todo el alto del contenedor */
  object-fit: cover; /* Asegurar que la imagen ocupe todo el espacio sin distorsionarse */
}

.risk-info h4,
.safety-info h4 {
  color: var(--strong-red);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.button:hover {
  background-color: var(--button-hover-bg);
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(1px);
}

.risk-selects,
.safety-selects {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.risk-selects .button,
.safety-selects .button {
  align-self: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.button-group .button {
  flex: 1;
}

.risk-table-container {
  background-color: white !important;
}

.risk-table {
  background-color: white !important;
}

.button-area {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 0px 1px; /* Tamaño más pequeño */
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: bold;
  font-size: 12px; /* Tamaño de fuente más pequeño */
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.button-area:hover {
  background-color: var(--button-hover-bg);
  transform: translateY(-2px);
}

.uploaded {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px; /* Ancho fijo del cuadro */
  height: 280px; /* Altura fija del cuadro */
  border-radius: var(--border-radius); /* Bordes redondeados */
  overflow: hidden; /* Ocultar contenido desbordado */
  background-color: #f9f9f9; /* Fondo claro */
  cursor: pointer; /* Cambia el cursor a mano al pasar sobre el cuadro */
  position: relative; /* Posición relativa para centrar el contenido */
}

.uploaded img {
  width: 100%; /* Ajustar la imagen al ancho completo del cuadro */
  height: 100%; /* Ajustar la imagen a la altura completa del cuadro */
  object-fit: cover; /* Asegura que la imagen ocupe el cuadro sin distorsión */
  border-radius: var(--border-radius); /* Redondear bordes de la imagen */
}

.image-placeholder {
  color: #999;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  position: absolute; /* Centra el texto sobre el cuadro */
  top: 50%; /* Posición vertical del texto */
  left: 50%; /* Posición horizontal del texto */
  transform: translate(-50%, -50%); /* Centra el texto completamente */
  pointer-events: none; /* No interfiere con el clic */
}

.upload-button {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 10px 15px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.upload-button:hover {
  background-color: var(--button-hover-bg);
}

select:hover {
  border-color: #888;
  background-color: #f1f1f1;
}

select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

select option {
  padding: 5px;
  font-size: 10px;
  font-family: var(--font-family);
}
table {
  border-collapse: collapse;
  width: 100%; /* Ajusta el ancho al 90% de la pantalla */
  margin: 5px auto; /* Centra la tabla */
  max-width: 1200px; /* Establece un ancho máximo */
}

th,
td {
  border: 1px solid #ccc; /* Bordes más delgados */
  text-align: center;
  padding: 2px; /* Reduce el grosor del padding */
  font-size: 10px; /* Ajusta el tamaño de la fuente */
}

th {
  background-color: #f9f9f9; /* Fondo claro para los encabezados */
  font-weight: bold;
}

td {
  height: 20px; /* Altura menor para las celdas */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9; /* Fondo ligero */
  margin: 0;
  padding: 0;
}

#body-parts-table {
  width: 130%; /* Estira la tabla al 130% del contenedor */
  min-width: 100%; /* Asegura que la tabla no sea más pequeña que el 100% */
  border-collapse: collapse; /* Combina los bordes de las celdas */
  margin: 0px 0; /* Espaciado superior e inferior */
  font-size: 16px; /* Tamaño de texto ajustado */
  text-align: left; /* Alineación del texto */
}

.container {
  width: 100%; /* El contenedor puede permitir el 100% */
  overflow: visible; /* Permite que el contenido se expanda más allá del 100% */
}

#body-parts-table th {
  background-color: #f4f4f4; /* Color de fondo para encabezados */
  border: 1px solid #ccc; /* Borde de las celdas */
  padding: 10px; /* Espaciado interno */
  text-align: center; /* Alinea el texto al centro */
  font-weight: bold; /* Texto en negrita */
}

#body-parts-table td {
  border: 1px solid #ccc; /* Borde de las celdas */
  padding: 10px; /* Espaciado interno */
}

#body-parts-table td[data-check="true"] {
  text-align: center; /* Centrar contenido en estas celdas */
  background-color: #e8f5e9; /* Fondo verde claro */
}

#body-parts-table td[data-part] {
  font-weight: bold; /* Resalta los nombres de las partes del cuerpo */
  background-color: #f9f9f9; /* Fondo gris claro */
}

/* Estilo para los menús desplegables con texto grande (para Identificación de riesgos y Sistemas de seguridad) */
.dropdown-large-text {
  font-size: 20px !important; /* Aumenta el tamaño de la fuente */
  font-family: Arial, sans-serif !important;
  color: #333 !important;
  border-radius: 5px !important;
  border: 1px solid #ccc !important;
  width: 100% !important; /* Asegura que ocupe todo el ancho */
  margin-bottom: 9px !important;
  padding: 10px !important; /* Mejora la estética */
  box-sizing: border-box !important;

  /* Evita que el texto se corte */
  white-space: nowrap !important; /* Evita que el texto se divida en varias líneas */
  overflow: hidden !important; /* Oculta contenido que desborde */
  text-overflow: ellipsis !important; /* Muestra "..." si el texto es demasiado largo */
}

/* Estilo para las opciones dentro del menú con texto grande */
.dropdown-large-text option {
  font-size: 20px; /* Aumenta el tamaño de la fuente dentro de las opciones */
}

/* Estilo para los títulos */
.blacktitle-small {
  font-size: 19px; /* Aumenta el tamaño del título */
  margin-bottom: 10px; /* Ajusta el margen para los títulos */
  color: black;
  font-weight: bold; /* Opcional, para hacerlo más destacado */
}

/* Asegura que las celdas estén alineadas correctamente */
.risk-info,
.safety-info {
  padding: 10px;
  vertical-align: top; /* Alinea el contenido al principio de la celda */
}

/* codigo proteccion sugerido */

.epp-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: flex-start; /* Alinea hacia la parte superior */
  padding: 10px;
  height: 100%; /* Asegura que el contenedor use toda la altura */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.epp-suggested {
  vertical-align: top; /* Asegura que las celdas se alineen al top */
}

.epp-container h6,
.epp-container h5 {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

/* Estilo para los menús desplegables personalizados con texto grande */
.custom-select {
  font-size: 20px; /* Aumenta el tamaño de la fuente dentro del select */
  font-family: Arial, sans-serif; /* Puedes cambiar la fuente si lo deseas */
  color: #333; /* Ajusta el color si es necesario */
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%; /* Asegura que el select ocupe todo el ancho disponible */
  padding: 10px; /* Añade padding para mayor estética */
  box-sizing: border-box; /* Asegura que el padding y border se incluyan en el cálculo del ancho */
}

/* Estilo para las opciones dentro del select */
.custom-select option {
  font-size: 20px; /* Aumenta el tamaño de la fuente dentro de las opciones */
  white-space: nowrap; /* Evita que el texto de las opciones se rompa en varias líneas */
  overflow: hidden; /* Previene que el texto se desborde */
  text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
}

.custom-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.body-image {
  width: auto;
  height: 290px; /* Mantiene un tamaño fijo */
  margin-top: 10px;
  object-fit: contain;
}

/* Estilo para el menú desplegable */
.dropdown-puestos {
  font-size: 18px; /* Aumenta el tamaño de la fuente */
  padding: 10px; /* Opcional, para mayor espacio dentro del menú */
  border-radius: 5px; /* Opcional, para bordes redondeados */
  border: 1px solid #ccc; /* Opcional, para un borde delgado */
  width: 100%; /* Opcional, asegura que el select ocupe el 100% del contenedor */
}

/* Estilo para las opciones dentro del menú */
.dropdown-puestos option {
  font-size: 18px; /* Aumenta el tamaño de la fuente de las opciones */
}

/* Estilo para el menú desplegable de áreas */
.dropdown-areas {
  font-size: 18px; /* Aumenta el tamaño de la fuente */
  padding: 10px; /* Opcional, para mayor espacio dentro del menú */
  border-radius: 5px; /* Opcional, para bordes redondeados */
  border: 1px solid #ccc; /* Opcional, para un borde delgado */
  width: 100%; /* Opcional, asegura que el select ocupe el 100% del contenedor */
}

/* Estilo para las opciones dentro del menú */
.dropdown-areas option {
  font-size: 18px; /* Aumenta el tamaño de la fuente de las opciones */
}

/* Asegurar que el contenedor del logo esté alineado correctamente */
.logo-container-04 {
  display: flex;
  align-items: flex-start; /* Alinea el logo en la parte superior */
  justify-content: flex-end;
  gap: 10px;
  width: auto;
  padding: 5px;
}

/* Ajustar la imagen del logo y subirla */
.company-logo-04 {
  width: 100px;
  height: auto;
  max-height: 80px; /* Mantener proporciones */
  object-fit: contain;
  border: none;
  background: transparent;
  margin-top: -10px; /* Subir el logo ligeramente */
}

/* Ajustar la celda del logo */
.td-logo-04 {
  text-align: center;
  vertical-align: top; /* Subir el contenido de la celda */
  padding: 5px;
}

/* Botón de eliminación del logo */
.remove-logo-button-04 {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Eliminar bordes y fondos innecesarios en la celda */
td[colspan="2"].logo-cell-04 {
  text-align: center;
  vertical-align: middle;
  background: none !important;
  border: none !important;
  padding: 5px;
}
