* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  .header {
    background-color: #f44336;
    color: white;
    font-weight: bold;
    padding: 10px;
  }
  
  .section-header {
    font-weight: bold;
  }
  
  .risk-table {
    width: 100%;
  }
  
  .machinery-img {
    width: 100%;
    height: auto;
  }
  
  .protection-img img {
    width: 50px;
    margin: 5px;
  }
  
  .risk-icons img {
    width: 60px;
    margin: 5px;
  }
  
  .risk-level {
    background-color: #b3e5fc;
    padding: 10px;
    font-weight: bold;
  }
  
  .observaciones {
    text-align: left;
  }
  
  .risk-icons {
    display: flex;
    justify-content: center;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  .machinery-img {
    width: 100%;
    height: auto;
  }
  
  .image-upload-section {
    text-align: center;
    padding: 10px;
  }
  .editable-input {
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  .header {
    background-color: #f44336;
    color: white;
    font-weight: bold;
    padding: 10px;
  }
  
  .separator {
    background-color: transparent;
    border: none;
  }
  
  .machinery-img {
    width: 100%;
    height: auto;
  }
  
  .epp-icons img {
    width: 50px;
    margin: 5px;
  }
  
  .risk-table {
    width: 100%;
  }
  
  .epp-icons {
    display: flex;
    justify-content: center;
  }
  
  td[colspan="8"] {
    text-align: center;
  }
  
  input[type="file"] {
    margin-top: 10px;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 
  }

  /*tabla de herramientas manuales*/
  .table-container {
    margin: 20px;
  }
  
  .evaluation-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }
  
  .evaluation-table, .evaluation-table td, .evaluation-table th {
    border: 1px solid black;
  }
  
  .header {
    background-color: #e74c3c;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 8px;
  }
  
  .sub-header {
    background-color: #ecf0f1;
    font-weight: bold;
    text-align: center;
  }
  
  .image-cell {
    text-align: center;
    padding: 40px;
    background-color: #f2f2f2;
    vertical-align: middle;
    border-right: none; /* Remover la línea de la derecha */
  }
  
  .protection-cell {
    background-color: #ecf0f1;
    text-align: left;
    padding: 10px;
    vertical-align: top;
    border-left: none; /* Remover la línea de la izquierda */
  }
  
  .risk-list, .body-parts-list {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .risk-list {
    text-align: left;
  }
  
  .body-parts-list {
    text-align: left;
    list-style-type: none;
    margin-left: 0;
  }
  
  .footer-header {
    background-color: #e74c3c;
    color: white;
    text-align: left;
    font-weight: bold;
  }
  
  .evaluation-table td {
    padding: 8px;
  }
  
  .evaluation-table td[colspan="3"], .evaluation-table td[colspan="3"] {
    text-align: left;
  }
  
  .evaluation-table td[colspan="4"]:first-of-type {
    border-right: none; /* Remover la línea derecha de las celdas que están unidas */
  }
  
  .evaluation-table td[colspan="4"]:last-of-type {
    border-left: none; /* Remover la línea izquierda de las celdas que están unidas */
  }
  
  