/* === Tamaño de la Tabla Principal === */

.main-table {
  min-width: 1200px; /* Define un ancho mínimo suficiente para evitar la compactación */
  width: auto; /* Permite que la tabla mantenga su tamaño natural */
  overflow: auto; /* Habilita el desplazamiento si es necesario */
  background-color: white !important; /* Fondo blanco sólido */
  border: none !important;           /* Sin bordes */
  margin: 0 !important;              /* Sin márgenes */
  padding: 0 !important;             /* Sin relleno */
  box-shadow: none !important;       /* Sin sombra */

}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}


.custom-table td, .custom-table th {
  padding: 8px; /* Espaciado interno en las celdas */
  text-align: center; /* Alinea el texto al centro */
  border: none !important;
  background-color: transparent !important; /* Sin fondo adicional */
  box-shadow: none !important; /* Sin sombra */
}


.hide-for-capture {
  display: none !important;
}


.main-table th, 
.main-table td, 
.custom-table th, 
.custom-table td {
  border: 1px solid black !important;
  padding: 1px;
  text-align: center;
  max-width: 100px; /* Ancho de celdas */
  overflow: hidden;
  width: 250px;
  border: 1px solid black; /* Agregar un borde negro a toda la tabla */
  border-collapse: collapse; /* Asegura que no haya doble borde entre celdas */
}

/* Estilo general de la tabla interna */
.inner-table select {
  width: 100%; /* Asegura que ocupen todo el ancho de su celda */
  padding: 10px; /* Aumenta el espacio interno para mayor clicabilidad */
  font-size: 16px; /* Aumenta el tamaño de la fuente */
  border-radius: 4px; /* Añade bordes redondeados */
  border: 1px solid #ccc; /* Añade un borde claro */
  background-color: #f9f9f9; /* Fondo claro */
  color: #333; /* Color del texto */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

.text-size-adjustable {
  font-size: 16px; /* Tamaño de texto base */
  font-weight: normal; /* Peso estándar del texto */
  color: #333; /* Color estándar del texto */
  text-align: center; /* Alineación centrada */
}



/* Centra el contenido de las celdas que contienen tablas internas */
.table-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Estilos de encabezados */
.inner-table th, .header, .sub-header {
  background-color: #808b96 ; /* Color de fondo para encabezados */
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-collapse: separate;
}

/* Alineaciones y márgenes */
.move-right {
  margin-left: 20px; /* Ajusta el valor según lo necesario */
}

.padding-right {
  padding-left: 20px; /* Ajusta el valor según lo necesario */
}

.right-aligned {
  text-align: center; /* Alinea el texto a la izquierda */
}

/* Secciones con flexbox */
.header-section, .left-column, .right-column, .section-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  transform: translateY(24px); /* Ajusta el valor para mover el elemento hacia abajo */

}

.risk-table, .container-full-width, .main-table table {
  width: 100%; /* Ancho completo */
  border-collapse: collapse;
}

/* Clases para estilos de celdas */
.full-width-cell, .no-border-cell {
  width: 50%;
  text-align: left;
  padding: 0px;
  box-sizing: border-box; /* Incluye padding en el ancho total */
}

.no-border-cell {
  border: none !important;
  background-color: #808b96 !important;
  color: white !important;
}

/* Estilos de lista y elementos de riesgo */
.hazard-item {
  display: flex; /* Flexbox para alinear texto y checkbox en línea */
  justify-content: space-between; /* Separa el texto del checkbox */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 8px 5px; /* Espaciado interno entre las filas */
  border-bottom: 1px solid #ccc; /* Línea separadora entre filas */
}

.hazard-item:last-child {
  border-bottom: none; /* Elimina la línea del último elemento */
}



.hazard-checkbox {
  display: inline-block; /* Asegura que el contenedor no colapse */
  margin-left: 10px;
}

.hazard-list {
  list-style-type: none; /* Sin puntos de lista */
  font-size: 17px; /* Tamaño del texto */
  padding: 0; /* Sin padding adicional */
  margin: 0; /* Sin margen adicional */
  text-align: left; /* Alineación izquierda del texto */
}

/* Asegúrate de que la celda ocupe todo el espacio disponible */
.right-section {
  vertical-align: top;
  padding: 0;
}

/* Estilos para las secciones de protección */
.protection-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.protection-image-container {
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
  margin: 0 auto;  /* Centra el contenedor */
}

.protection-image {
  max-width: 70px; /* Tamaño máximo */
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px; /* Bordes redondeados */
}

.left-section {
  padding: 0 80px; /* Ajusta el padding */
}

/* Estilos para texto */
.text1, .text2 {
  color: black;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px; /* Espacio debajo del título */
  font-size: 25px !important; /* Aumenta el tamaño de la fuente, usando !important */
}



/* Estilo para imágenes y filas */
.body-image-left {
  display: flex;
  justify-content: center; /* Cambiar a centrado horizontal */
  align-items: center;
}

.table-container {
  cursor: grab; /* Muestra un cursor indicativo para arrastrar */
}

.table-container:active {
  cursor: grabbing; /* Cambia el cursor cuando se está arrastrando */
}




.images-in-row {
  display: flex;
  justify-content: center; /* Centra las imágenes horizontalmente */
  gap: 10px; /* Espacio entre imágenes */
  align-items: center; /* Centra verticalmente las imágenes */
}

/* Estilo para la evaluación de riesgos */
.body-parts-container {
  display: flex;
  justify-content: space-between; /* Crea separación entre las dos columnas */
  margin-top: 0;
}

.protection-cell {
  width: 200px; /* Ajusta el ancho según sea necesario */
}

/* Clase para alinear etiquetas y acciones en una fila */
.label-action {
  display: flex;
  justify-content: space-between; /* Espacio entre la etiqueta y el elemento */
  align-items: center; /* Alinea verticalmente en el centro */
  margin-bottom: 10px; /* Espacio entre cada fila, ajusta según sea necesario */
}

/* Ajustes específicos para las etiquetas y acciones */
.label-action label {
  margin-right: 10px; /* Espacio entre la etiqueta y el elemento */
}

.label-action select,
.label-action input {
  flex-grow: 1; /* Permite que el elemento ocupe el espacio restante */
  max-width: 1000px; /* Ancho máximo para evitar que se estiren demasiado */
}

/* Clase para hacer el input más pequeño */
.small-input {
  width: 80px; /* Ajusta el ancho según sea necesario */
}

/* ===== Responsividad ===== */

/* Pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .inner-table select {
    font-size: 14px; /* Reduce el tamaño de fuente para pantallas pequeñas */
    padding: 8px; /* Ajusta el espacio interno */
  }

  .main-table th, .main-table td {
    min-width: 150px; /* Ajusta el ancho mínimo de las celdas para evitar la compactación */
    padding: 10px; /* Añade espacio alrededor del texto */
  }

  .label-action {
    flex-direction: column; /* Coloca las etiquetas e inputs en columnas */
    align-items: flex-start;
  }

  .small-input {
    width: 100%; /* El input ocupa todo el ancho en pantallas pequeñas */
  }

  .protection-image-container {
    max-width: 100%; /* Ajusta el ancho del contenedor de imágenes */
  }

  .protection-image {
    max-width: 50px; /* Ajusta el tamaño de las imágenes */
  }

  .table-cell {
    flex-direction: column; /* Apila el contenido */
  }

  .hazard-checkbox {
    margin-bottom: 5px; /* Espacio entre el checkbox y el texto */
  }

  /* Scroll horizontal en tablas */
  .table-container {
    padding: 0; /* Sin padding */
    margin: 0; /* Sin margen */
    width: 100%; /* Ocupar el ancho completo */
    
  }
}

/* Pantallas medianas (tabletas) */
@media (max-width: 1024px) {
  .inner-table, .risk-table, .container-full-width, .main-table {
    width: 100%; /* Ancho completo */
    border-collapse: separate;
  }

  .main-table th, .main-table td, .custom-table th, .custom-table td {
    padding: 8px;
    font-size: 0.9rem;
  }

  .label-action {
    flex-direction: row; /* Mantén la etiqueta y el input en la misma línea */
    justify-content: space-between;
  }

  .small-input {
    width: 100px; /* Ajusta el ancho de los inputs */
  }

  .protection-image {
    max-width: 60px; /* Ajusta el tamaño de imágenes */
  }
}

.header-td {
  padding: 10px;
  background-color: #808b96 !important;
}

.modal-container {
  width: 300px; /* Ancho más pequeño */
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  /* Centramos el modal */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Asegura que esté en frente */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 999; /* Detrás del modal */
}

.image-selection-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.image-option img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.image-option img:hover {
  transform: scale(1.1);
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {

  padding: 5px 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* Contenedor para el menú y los botones */
.puesto-con-botones {
  display: flex;
  align-items: center; /* Alinea verticalmente en el centro */
  justify-content: flex-start; /* Mantiene el contenido alineado a la izquierda */
  width: 100%; /* Ocupa todo el ancho disponible */
  gap: 5px; /* Espacio entre el menú desplegable y los botones */
}

/* Estilo del menú desplegable */
.puesto-con-botones select {
  max-width: 350px; /* Asegura que no crezca demasiado */
  padding: 5px;
}

/* Botones al lado del menú desplegable */
.puesto-con-botones .btn-agregar,
.puesto-con-botones .btn-borrar {
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  min-width: 80px; /* Ancho mínimo para los botones */
}

/* Estilo del botón agregar */
.btn-agregar {
  background-color: #007bff; /* Color azul */
  color: white;
}

/* Estilo del botón borrar */
.btn-borrar {
  background-color: #007bff; /* Color rojo */
  color: white;
}

.image-selection-container {
  display: flex;
  justify-content: space-around;
}

.image-option {
  cursor: pointer;
  padding: 10px;
}

.selectable-image {
  width: 100px; /* Ajusta el tamaño de la imagen */
  height: auto;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.selectable-image:hover {
  border-color: blue;
}

/* Estilos para el componente de EPP */
.epp-component-right-section {
  height: 300px;
  position: relative;
}

/* Título con fondo amarillo */
.epp-component-title {
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-align: center;
  margin: 0; /* Sin margen */
  padding: 5px;
  position: absolute;
  top: 0; /* Asegura que el título esté en la parte superior */
  width: 100%;
  box-sizing: border-box;
  z-index: 1; /* Asegura que el título esté sobre las imágenes */
}

/* Contenedor para las imágenes de EPP */
.epp-component-hazard-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-height: 400px;
  overflow-y: auto;
  position: absolute;
  top: 30px; /* Ajustar debajo del título */
  width: 100%;
}

/* Estilo para las imágenes de EPP */
.epp-component-image {
  max-height: 100px;
  max-width: 60px;
  margin: 5px;
}

/* Mensaje cuando no hay EPP seleccionado */
.epp-component-no-epp {
  font-style: italic;
  color: #666;
  margin-top: 10px;
}

/* Título para la descripción */
.epp-component-description-title {
  background-color: yellow;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  position: absolute;
  bottom: 200px;
  width: 97%;
  box-sizing: border-box;
}

/* Textarea de la descripción */
.epp-component-description-textarea {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.epp-component-description-textarea textarea {
  width: 99%;
  box-sizing: border-box;
  resize: none; /* Evitar que el usuario cambie el tamaño del textarea */
}

/* Ajuste en el tamaño y márgenes del modal */
.modal-container {
  width: 320px; /* Ajusta el ancho del modal */
  padding: 10px; /* Reduce el padding para que ocupe menos espacio */
  background-color: #ffffff; /* Color de fondo blanco */
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Asegura que esté en frente */
  max-height: 75vh; /* Limita la altura */
  overflow-y: auto; /* Permite desplazamiento vertical si es necesario */
}

/* Fondo semitransparente detrás del modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo más oscuro */
  z-index: 999;
}

/* Ajusta la lista de puestos con márgenes adicionales */
.puestos-lista {
  max-height: 200px; /* Limita la altura */
  overflow-y: auto; /* Habilita el desplazamiento si es necesario */
  margin: 10px 5px; /* Ajusta los márgenes para reducir el recuadro blanco */
  padding: 5px;
  background-color: #f5f5f5; /* Fondo gris claro para diferenciar la lista */
  border-radius: 4px;
}

/* Estilo de cada puesto en la lista */
.puesto-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

/* Espacio y estilo de los checkboxes */
.puesto-item input {
  margin-right: 10px;
  cursor: pointer;
}

/* Título del modal */
.modal-container h2 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}




/* Contenedor para el título y el cuadro de texto */
.contenedor-descripcion {
  display: flex;
  flex-direction: column; /* Coloca los elementos en una columna */
  width: 100%; /* Ocupa todo el ancho disponible */
  margin-bottom: 2px; /* Separación del contenedor respecto a otros elementos */
}

.titulo-descripcion {
  display: inline-block; /* Asegura que el texto se mantenga en una línea */
  width: 50%; /* Ocupa todo el ancho disponible */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  text-align: left;
  display: block;
  font-size: 18px;
}


/* Estilos para el cuadro de texto */
.textarea-descripcion {
  width: 100%; /* Aumenta el ancho del cuadro de texto */
  height: 50px; /* Ajusta la altura del cuadro de texto */
  padding: 10px;
  font-size: 14px;
  resize: vertical; /* Permite cambiar la altura pero no el ancho */
  box-sizing: border-box;
}


/* Título fijo en la parte superior */
.epp-component-title1 {
  background-color: yellow;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000; /* Asegura que el título esté encima de otros elementos */
}

/* Contenedor para el menú */
.epp-dropdown-container {
  margin-top: 300px; /* Espacio para que el menú quede debajo del título */
  padding: 20px;
}

.epp-dropdown, .epp-sub-dropdown {
  margin-top: 5px;
  padding: 8px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
}

.epp-selection-list {
  margin-top: 20px;
  font-weight: bold;
  color: #333;
}




/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* Contenedor principal de la celda areas */


/* Título de la sección "Datos adicionales" */
.additional-data-title {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: white;
  margin-bottom: 2%;
}

/* Estilo de la tabla principal */
.details-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0;  /* elimina cualquier margen superior */
}


/* Celdas de etiqueta con texto en blanco */
.label-cell {
  font-weight: bold;
  padding: 8px;
  text-align: left; /* Alinea a la izquierda */
  padding-left: 15px; /* Agrega espacio a la izquierda */
  width: 25%;
  color: white;
  background-color: #808b96 !important;
  font-size: 22px !important;
}

/* Celdas de entrada */
.input-cell {
  padding: 8px;
  text-align: left;
  width: 75%; /* Ocupa el espacio restante */
}

/* Celdas de botones */
.button-cell {
  padding: 8px;

  text-align: left;
  width: 25%;
}

/* Estilo de los botones */
.btn-agregar, .btn-borrar {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* Estilo del modal */
.modal-container {
  width: 320px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5) ;
  z-index: 999;
}

/* Botones dentro del modal */
.modal-buttons button {
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}



/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* Contenedor principal de la celda partes del cuerpo */


/* Fondo rojo del contenedor principal */
.header-cell {
  background-color: rgb(23, 96, 255) ;
  padding: 10px;
  text-align: center;
}

/* Título con fondo amarillo y subrayado */
.body-parts-title {
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  color: white;
}

/* Tabla de partes del cuerpo */


/* Celdas de etiquetas */
.risk-label-cell {
  border: 1px solid black !important;
  padding: 10px;
  background-color: #808b96 !important;
  font-weight: bold;
  color: white;
  font-size: 20px !important;  /* Aumenta el tamaño de las etiquetas */

}

/* Celdas de marcas (X) */
.risk-mark-cell {
  border: 1px solid black;
  padding: 10px;
  width: 25%;
  color: black; /* Texto negro para la "X" */
}



/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* Contenedor principal de la celda partes del magnitud calculo. */



/* Contenedor principal de la celda */
.right-aligned {
  text-align: left;
  padding: 50px;
}

/* Estilo actualizado para la tabla */
.risk-magnitude-table {
  width: 100%; /* Mantén el ancho completo */
  border-collapse: collapse;
  background-color: white;
  font-size: 18px; /* Aumenta el tamaño de fuente general */
  margin: 10px 0; /* Agrega un margen para separar la tabla */
}

/* Ajustes para las celdas de la tabla */
.risk-magnitude-table td {
  border: 2px solid #ccc;
  padding: 15px; /* Incrementa el espacio interno */
  text-align: left;
  font-size: 20px; /* Incrementa el tamaño de la fuente */
}

/* Ajustes específicos para etiquetas y valores */


.risk-value-cell,
.risk-classification-cell,
.risk-action-cell {
  font-size: 20px; /* Aumenta el tamaño de los valores */
  font-weight: bold; /* Hace que los valores sean más llamativos */
  text-align: center !important; /* Centra el texto */
  
}

/* Ajustes para el título de la sección */
.risk-title {
  font-size: 24px; /* Incrementa el tamaño del título */
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
  color: #333;
}





/* /////////////////////////////////////////////////*/ 


/* Contenedor principal sin borde */
.no-border-cell {
  padding: 10px;
}

/* Sección de puestos */
.puestos-section {
  margin-bottom: 20px;
}

/* Título de la sección */
.titulo-descripcion {
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-bottom: 5px;
}

.select-puesto {
  font-size: 16px !important; /* Tamaño del texto del selector */
  padding: 10px; /* Espaciado interno */
}

.option-item {
  font-size: 16px !important; /* Tamaño del texto de las opciones */
  padding: 5px; /* Opcional: aumenta la clicabilidad */
}




.large-text-dropdown option {
  font-size: 20px !important; /* Aumenta el tamaño del texto de las opciones */
}


/* Contenedor del select y botones de puestos */
.puesto-con-botones {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Estilo del select de puestos */
.select-puesto {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 17px !important;
}

/* Botones de agregar y borrar */
.btn-agregar, .btn-borrar {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* Contenedor de descripción de actividad */
.contenedor-descripcion {
  margin-top: 20px;
}

/* Estilo del textarea para descripción de actividad */
.textarea-descripcion {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px !important; /* Aumenta el tamaño de la fuente y usa !important */
  resize: vertical;
  box-sizing: border-box;
}



/* /////////////////////////////////////////////////*/ 




/* /////////////////////////////////////////////////*/ 
/* Para la tabla completa */
/* Estilos para toda la tabla */
.custom-table {
  border-collapse: collapse; /* Funde los bordes de la tabla */
  border-spacing: 0; /* Asegura que no haya espacios entre celdas */
  width: 100%; /* Asegura que la tabla use todo el ancho */
}

/* Estilo específico para la fila sin bordes */
.no-border-row td {
  border: none !important; /* Fuerza la eliminación de cualquier borde en las celdas de esta fila */
  padding: 10px; /* Ajusta el padding según tus necesidades */
}

/* Contenedor para posicionar el botón sobre la imagen */
.logo-container {
  position: relative;
  display: inline-block;
}



/* Botón de eliminación posicionado en la esquina superior derecha de la imagen */
.remove-logo-button {
  position: absolute;
  top: 5px;
  left: 9px;
  padding: 3px 6px;
  font-size: 0.7em;
  background-color:  black;
  border: none;
  border-radius: 50%;
  color: white; 
  cursor: pointer;
}

.remove-logo-button:hover {
  background-color: black;
}


/* Contenedor del logo para mantener alineación y posicionamiento */
.logo-container {
  display: flex;  
  align-items: center;
  justify-content: center;
  width: 400px; /* Ajusta el ancho máximo del contenedor según tu preferencia */
  height: 30%;
  margin-top: 20px;
}

/* Imagen del logo */
.company-logo {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  max-width: 250px; /* Tamaño máximo de la imagen */
  max-height: 100px; /* Tamaño máximo de la imagen */
  object-fit: contain; /* Asegura que la imagen se ajuste sin deformarse */
}



.hidden-buttons {
  display: none;
}


/* /////////////////////////////////////////////////*/ 
/* Título principal */
.banana-title {
  font-size: 24px; /* Tamaño de texto más grande */
  font-weight: bold; /* Hace el texto más llamativo */
  text-align: center; /* Centra el texto */
  color: #000; /* Color negro */
  padding: 10px; /* Espaciado interno */
  margin-bottom: 10px; /* Separación inferior */
}

/* Encabezados de la tabla */
.apple-header {
  font-size: 19px !important; /* Mantén el tamaño original, usando !important */
  font-weight: bold;
  text-align: center;
  color: white !important;
}




/* Selectores */
.cherry-select {
  font-size: 16px; /* Tamaño de texto más grande */
  padding: 6px; /* Espaciado interno */
  border-radius: 4px; /* Bordes redondeados */
}

/* Valores seleccionados */
.grape-value {
  font-size: 18px; /* Tamaño más grande para los valores */
  font-weight: bold ; /* Resalta los valores */
  margin-top: 10px; /* Separación superior */
  text-align: center;
}




.blueberry-risk {
  font-size: 24px !important; /* Aumenta el tamaño del texto y evita sobrescrituras */
  font-weight: bold; /* Hace que el texto sea prominente */
  text-align: center; /* Centra el contenido en la celda */
  color: white !important; /* Texto blanco para contraste */
  background-color: inherit; /* El color de fondo dinámico se mantiene */
}










.epp-container {
  padding: 0px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.epp-dropdown,
.epp-sub-dropdown {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.epp-selection-list-container {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Espaciado entre filas */
}

.epp-selection-row {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos en fila */
  gap: 10px; /* Espaciado entre elementos de la fila */
}

.selection-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.epp-selection-list {
  list-style: none;
  padding: 0;
  margin: 0;
}



.no-selection-message {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}


.textarea-descripcion {
  
  height: auto; /* Permite la expansión vertical automática */
  min-height: 5em; /* Altura mínima, para que no sea demasiado pequeño cuando esté vacío. Ajústalo según tus necesidades.*/

  /* OPCIONAL - Permite al usuario redimensionar manualmente de forma vertical */
  resize: vertical;
}



.epp-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-label {
  display: block;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.epp-dropdown,
.epp-sub-dropdown {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}



.selection-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.epp-selection-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.epp-selection-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #333;
  flex: 1;
  max-width: calc(60% - 10px); /* Cada elemento ocupa la mitad del espacio */
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 0px;
  font-size: 16px;
  color: #ff4d4d;
  transition: color 0.3s ease;
}


.delete-button:hover {
  color: #ff0000; /* Más intenso al hacer hover */
}


.delete-icon {
  width: 20px;
  height: 20px;
  filter: invert(1); /* Hace que el ícono sea blanco */
}

.delete-button:hover .delete-icon {
  opacity: 0.8;
}

.no-selection-message {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}



/* ////////////////////////////////////////// */

/* Prefijo único para asegurar que los estilos no sean sobrescritos */
.upload-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white !important; /* Fondo blanco forzado */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 5px; /* Bordes redondeados */
  padding: 5px; /* Espaciado interno */
  cursor: pointer; /* Cursor pointer al pasar */
  width: 40px; /* Ajusta el tamaño del botón */
  height: 40px;
}

.upload-button:hover {
  background-color: #f0f0f0 !important; /* Fondo gris claro al pasar el mouse */
}

.upload-icon { 
  width: 20px;
  height: 20px;
  stroke: black; /* Icono en color negro */
}






.cell-container {
  display: flex;
  align-items: center; /* Alinea verticalmente */
  justify-content: space-between; /* Espaciado entre elementos */
  gap: 10px; /* Espacio entre el menú y los botones */
}

.select-area {
  flex: 1;
  padding: 5px;
  font-size: 14px;
}

.button-group {
  display: flex;
  gap: 5px; /* Espacio entre los botones */
}

.btn-agregar,
.btn-borrar {
  padding: 5px 10px;
  font-size: 12px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}


.btn-agregar:hover,
.btn-borrar:hover {
  background-color: #0056b3;
}

.date-input {
  width: 100%; /* Ancho completo */
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}








/* Contenedor del menú y los botones */
.cell-container {
  display: flex;
  align-items: center; /* Alinea verticalmente */
  gap: 10px; /* Espacio entre el menú desplegable y los botones */
}

/* Menú desplegable */
.select-area {
  flex: 1; /* El select ocupa todo el espacio disponible */
  padding: 5px;
  font-size: 14px;
}

/* Grupo de botones */
.button-group {
  display: flex;
  gap: 20px; /* Espacio entre los botones */
}



/* Botones con iconos */
.button-container {
  display: flex;
  justify-content: flex-start; /* Alinea los botones al inicio */
  align-items: center; /* Alineación vertical centrada */
  gap: 10px; /* Espaciado horizontal entre los botones */
}

.download-button,
.save-button {
  padding: 8px 16px; /* Asegúrate de que los botones tengan un buen tamaño */
}




.btn-icon:hover {
  background-color: #f0f0f0;
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 36px;
  background-color: white;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease; /* Transición suave */
}

.hidden-buttons {
  display: none !important; /* Oculta completamente el botón */
}

.btn-icon.hidden {
  opacity: 0; /* Oculta los botones */
  pointer-events: none; /* Desactiva la interacción */
}

.btn-icon + .btn-icon {
  margin-left: 10px; /* Espaciado entre los botones */
}

/* Opcional: Alinea los botones a la derecha dentro de su contenedor */
button.btn-icon {
  float: right;
}



.container { /* Contenedor donde están los botones */
  display: flex;
  justify-content: flex-end;
}







.large-text-dropdown {
  width: 80%; /* Ajusta el ancho al 100% del contenedor */
  font-size: 16px; /* Tamaño del texto */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde */
  border-radius: 4px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Fondo */
  appearance: none; /* Elimina el estilo predeterminado del navegador */
  outline: none; /* Elimina el contorno al seleccionar */
}

.large-text-dropdown:hover {
  border-color: #888; /* Cambia el color del borde al pasar el cursor */
}

.large-text-dropdown:focus {
  border-color: #555; /* Cambia el color del borde al enfocar */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); /* Sombra en foco */
}

.large-text-dropdown option {
  font-size: 16px; /* Ajusta el tamaño del texto de las opciones */
  padding: 5px; /* Espaciado interno para las opciones */
}




/* Clase general para inputs y selects grandes */
.large-input {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  font-size: 16px; /* Tamaño del texto */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde */
  border-radius: 4px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Fondo */
  outline: none; /* Elimina el contorno al seleccionar */
}

/* Cambios al pasar el cursor */
.large-input:hover {
  border-color: #888;
}

/* Cambios al enfocar */
.large-input:focus {
  border-color: #555;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

/* Específico para select */
.large-text-dropdown {
  appearance: none; /* Elimina el estilo predeterminado del navegador */
}

/* Opciones dentro del select */
.large-text-dropdown {
  width: auto; /* El ancho se ajusta al contenido */
  min-width: 150px; /* Ancho mínimo por si el contenido es muy corto */
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  outline: none;
  appearance: none;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que excede el ancho del select */
  text-overflow: ellipsis; /* Muestra "..." si el texto es demasiado largo */
}





/* Modal de guardado*/


/* Estilos para el modal de carpetas */
.folder-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 5px 16px rgba(0,0,0,0.2);
}

.folder-modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.folder-selection ul {
  list-style-type: none;
  padding: 0;
}

.folder-selection li {
  margin-bottom: 10px;
}

.create-new-folder input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-new-folder button {
  padding: 8px 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-new-folder button:hover {
  background-color: #218838;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.confirm-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.confirm-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  padding: 8px 12px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #5a6268;
}
