/* Estilo general de la tabla interna */
.inner-table {
  width: 80%; /* Ajusta el ancho de la tabla para que no ocupe todo el espacio disponible, pero permita centrado */
  border-collapse: collapse; /* Elimina los espacios entre las celdas */
  margin: 0 auto; /* Centra la tabla dentro de la celda */
}

/* Centra el contenido de las celdas que contienen tablas internas */
.table-cell {
  display: flex; /* Utiliza Flexbox para centrar la tabla */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%; /* Asegura que la celda tenga altura completa */
}

.inner-table th, .inner-table td {
  border: 1px solid #777777; /* Bordes de las celdas */
  padding: 8px; /* Espaciado interno de las celdas */
  text-align: center; /* Centrado del texto en las celdas */
}

.inner-table th {
  background-color: #ff0000 !important; /* Color de fondo para los encabezados con !important para asegurar que se aplique */
  color: #ffffff; /* Opcional: color del texto para asegurar que sea visible sobre el fondo rojo */
  font-weight: bold; /* Texto en negrita para los encabezados */
}

.hazard-item {
  position: relative; /* Permite la colocación absoluta de los elementos hijos */
  padding-right: 30px; /* Añade un espacio para el checkbox a la derecha */
}

.hazard-checkbox {
  position: absolute; /* Posiciona el checkbox de forma absoluta */
  right: 0; /* Alinea el checkbox a la derecha */
}
